/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Style page content */
.main {
    padding: 0px 0px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #111;
    color: white;
}

.title h1 {
    width: 85%;
    min-width: 325px;
}