* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* The sidebar menu */
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px;
    align-items: center;
}

.logo {
    display: flex;
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 200000px;
    justify-content: center;
    align-items: center;
}

.menuSpacer {
    height: 20px;
}
  
/* The navigation menu links */
.sidenav button {
    display: flex;
    height: 40px;
    margin-top: 10px;
    padding-left: 15px;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: #111;
    color: white;
    border: none;
}
  
.sidenav button:hover, .sidenav button:active {
    background-color: white;
    color: #111;
    outline: 0;
    cursor: pointer;
}

.sidenav button:focus {
    outline: 0;
    color: #111;
}
  
/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 0px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 50px;
    z-index: 2;
    margin-left: -30px;
    align-items: baseline;
    justify-content: left;
    flex-wrap: nowrap;
    background-color: #111;
    color: white;
}

.title h1 {
    width: 85%;
    min-width: 325px;
}

.todayDate {
    position: relative;
    display: flex;
    width: 15%;
    min-width: 160px;
    padding-right: 7px;
    flex-wrap: nowrap;
    font-size: 1vw;
    justify-content: center;
    align-items: baseline;
}

.chartsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loginMessage {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

#okta-login-container {
    margin-bottom: 20px;
}

#okta-sign-in.auth-container.main-container {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#okta-sign-in.auth-container .okta-sign-in-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid whitesmoke;
    border-bottom: none;
}

#okta-sign-in.no-beacon .auth-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid whitesmoke;
    border-top: none;
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
}

.datePicker {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 12px;
}

.dateSelector {
    display: flex;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 12px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
}

.dateSelector:hover, .dateSelector:active, .dateSelector:focus {
    cursor: pointer;
    outline: 0;
}

.chartWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 98%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.tableWrapper {
    overflow: scroll;
    margin-top: 10px;
}

.chart {
    display: flex;
    position: relative;
    text-align: center;
    width: 31%;
    /* height: 550px; */
    margin: 10px;
    border-radius: 10px;
}

.chartWide {
    display: flex;
    position: relative;
    text-align: center;
    width: 97%;
    /* height: 600px; */
    margin: 10px;
    border-radius: 10px;
}
  
.messagesText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: black;
}

table#rawDataTable, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    padding: 5px;
}

table#rawDataTable {
    table-layout: fixed;
    text-align: left;
    word-wrap: break-word;
    margin-left: 10px;
}

table#rawDataTable th {
    background-color: black;
    color: white;
}

table#rawDataTable tr:nth-child(even) {
    background-color: whitesmoke;
}

.profileGridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 90vh;
    padding: 10px;
    justify-content: space-around;
}

.profileSelector {
    display: flex;
    flex-direction: column;
    width: 19%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.profileSelectorTitle, .messageViewerTitle {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profileSelection, .messageSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style the search box */
#profileSearch, #messageSearch {
    font-size: 16px;
    padding: 9px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#profileSearch:hover, #profileSearch:active, #profileSearch:focus, #messageSearch:hover, #messageSearch:active, #messageSearch:focus {
    outline:0;
}

/* Style the navigation menu */
#profileList, #messageList {
    list-style-type: none;
    overflow: scroll;
    padding: 0;
    margin: 0;
    height: 80vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#profileList li a {
    padding: 7px;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    display: block;
}

#messageList li {
    margin-bottom: 10px;
}

#messageList li a {
    padding: 7px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#messageList li:nth-child(odd) {
    position: relative;
    text-align: right;
    font-size: 12px;
    color: white;
    margin-left: 50%;
    margin-right: 5px;
    padding: 3px;
    background-color: #147efb;
    border-radius: 10px;
}

  /* creates part of the curve */
  #OLDmessageList li:nth-child(odd):before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-6px;
    right:-11%;
    height:30px;
    border-right:60px solid #147efb;
    background:#147efb; /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -webkit-border-bottom-left-radius:80px 50px;
    -moz-border-radius-bottomleft:80px 50px;
    border-bottom-left-radius:80px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(0, -2px);
    -moz-transform:translate(0, -2px);
    -ms-transform:translate(0, -2px);
    -o-transform:translate(0, -2px);
    transform:translate(0, -2px);
  }
  
  /* creates part of the curved pointy bit */
  #OLDmessageList li:nth-child(odd):after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-6px;
    right:-40%;
    width:60px;
    height:30px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-left-radius:40px 50px;
    -moz-border-radius-bottomleft:40px 50px;
    border-bottom-left-radius:40px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(-30px, -2px);
    -moz-transform:translate(-30px, -2px);
    -ms-transform:translate(-30px, -2px);
    -o-transform:translate(-30px, -2px);
    transform:translate(-30px, -2px);
  }

#messageList li:nth-child(even) {
    position: relative;
    text-align: left;
    font-size: 12px;
    color: black;
    margin-left: 5px;
    margin-right: 50%;
    padding: 3px;
    background-color: #e6e6eb;
    border-radius: 12px;
}
  
  /* creates part of the curve */
  #OLDmessageList li:nth-child(even):before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-5px;
    right:76%;
    height:30px;
    border-right:60px solid #e6e6eb;
    background:#e6e6eb; /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(0, -2px);
    -moz-transform:translate(0, -2px);
    -ms-transform:translate(0, -2px);
    -o-transform:translate(0, -2px);
    transform:translate(0, -2px);
  }
  
  /* creates part of the curved pointy bit */
  #OLDmessageList li:nth-child(even):after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-5px;
    right:72%;
    width:60px;
    height:30px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(-30px, -2px);
    -moz-transform:translate(-30px, -2px);
    -ms-transform:translate(-30px, -2px);
    -o-transform:translate(-30px, -2px);
    transform:translate(-30px, -2px);
  }

#profileList li a:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.profileViewer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 10px;
    width: 50%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.profileDetails {
    display: flex;
    width: 100%;
    height: 200px;
    flex-wrap: nowrap;
    align-items: center;
}

.profileImage {
    display: flex;
    height: 180px;
    width: 165px;
    margin-left: 10px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.profileImage img {
    display: flex;
    height: 176px;
    width: 161px;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.profileDescription {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.profileDescription1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 65%;
    height: 180px;
    justify-content: center;
    align-items: left;
    font-size: 0.8vw;
    line-height: 2;
}

.profileElementContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: baseline;
}

.profileElementContainer text{
    display: flex;
    font-size: 0.9vw;
    flex-wrap: nowrap;
}

.profileElementValue {
    display: flex;
    padding-left: 8px;
    color: #147efb;
}

.profileDescription2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 35%;
    height: 180px;
    justify-content: center;
    align-items: center;
    line-height: 2.4;
}

.profileDescription2 text {
    padding-top: 10px;
    font-size: 0.9vw;
    line-height: 1.2;
}

#numberOfConversations, #numberOfMessages {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 1.4vw;
    color: #147efb;
}

.profileTopTags, .profileTopQuestions {
    display: flex;
    width: 100%;
    margin-top: 10px;
    /* height: 230px; */
    justify-content: center;
    align-content: center;
    border: 2px solid whitesmoke;
}

.profileChartWide {
    position: relative;
    display: flex;
    text-align: center;
    padding-left: 10px;
    width: 97%;
    justify-content: center;
    align-content: center;
}

#usersTopTagsChart, #usersTopQuestionsChart {
    justify-content: center;
    align-content: center;
}

.messagesViewer {
    display: flex;
    flex-direction: column;
    width: 29%;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

table#oopsDataTable, th, td {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    padding: 5px;
}

table#oopsDataTable {
    table-layout: fixed;
    text-align: left;
    word-wrap: break-word;
    margin-left: 10px;
}

table#oopsDataTable th {
    background-color: black;
    color: white;
}

table#oopsDataTable tr:nth-child(even) {
    background-color: whitesmoke;
}
